/* Sean did this */

/* Aesthetics */  
body {
    /* font */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    text-align: center; 
    background-color: ivory;
}

table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 8px;
    border: 1px solid transparent;
}
th{
    color:whitesmoke;
    background-color: #8EB1D9;
}

li{
    list-style-type: none;

}

/* Button styling */
/* Modified from https://www.w3schools.com/css/css3_buttons.asp */
.button {
    background-color: #6c706c;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}